/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
.navbar{
    display:flex;
    background-color: #000000;
    justify-content: space-between;
 
}
.container{
    margin: 0px auto;
   
}
.navbar img{
    margin:10px;
}
.list{
    display:flex;
   

}
.fa-angle-down{
color:#FFFF;
margin-left:10px;
}

   
.line{
    margin:auto;
    height:50px;
border:1px solid #ffff;
background-color: #ffff;
border-radius:5px;
}
.button-small{
    background-color: #ba0cc5 ;
    color:#ffff;
    margin:25px;
    padding:10px 20px;
    border-radius:10px;
}
.grow-list{
    width:70%;
    
}
.list-item{
    color:#ffff;
    padding:10px;
    list-style: none;
    margin:10px 20px;
}
.hero{
    background-image: url("./assets/bg.png");
    height:150vh;
    width:auto;

}
.hero-heading{
margin:auto;
   
    padding:190px 0px 0px 0px;
    font-weight:bold ;
    width:50vw;
    font-size:70px;
    color:#ffff;
}
.hero-description{
    display: flex;
    justify-content: center;
    color:#ffff;
    font-size:25px;
}
.button-large{
    margin:auto;  
    display:flex;
    justify-content: center;
    border:none;
   font-size:25px;
   padding:20px;
   border-radius:10px;
    align-items: center;
    background-color: #ba0cc5;
    color:white;
}