/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    font-family:Tahoma ;
    
}
body{
    
    height:120vh;
    width:90vw;
    
margin:auto; 
 box-sizing: border-box;
}
.navbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar-container img{
    margin-top:15px;
}
.list{
    display:flex;
   
}

.list-item{
    padding:20px;
    
    list-style:none;
    font-size:15px;
    opacity:20%;
}
ul li:first-child{
    opacity:100%;
}

.button-group{
    margin-top:20px;
 
 
}
.nav-button{
     border-radius:10px; 
    padding:18px 32px;
    background-color:#5955b3;
    color:white;
    border:none; 
    font-size:15px;
}
.banner-container{
    display:flex;
    margin-top:30px;
 
    width:40%;
}
.heading-text{
    font-size:45px;
    width:40vw;
   
    color:#3c2f60;
}
.heading-text span{
    color:#5955b3 ;
}

.banner-container img{
   
    width:50vw;
    height:80vh;
}
.btn{
    margin-top:30px;
}
.description{
    opacity:60%;
}
